body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

h1{
    margin-top: 0;
    text-transform: capitalize;
}

#hero-img{
    width: 100%;
    max-width: 100%;
    /* min-width: 100%; */
    height: auto;
    display: block;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    & img{
        max-width: 80vw;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background-color: #747e85;
    height: 350px;
    width: 300px;

    & label input{
        background-color: #acacac;
        padding: 1.5em;
        border: none;
        text-align: center;
        border-radius: 5%;
    }
}

#submit{
    height: 40px;
    width: 90px;
    border: none;
    transition: transform 0.2s ease;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.9);
    }
}


@media screen and (max-width: 850px) {
    main div{
        flex-direction: column;
    }

    h1{
        text-align: center;
    }
}